**Importing the required libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split as tts
from sklearn.svm import SVR

**Reading the BTC.csv file which contains the data from April 29, 2013 to November 06, 2020. The data is scrapped from https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130429&end=20201107 using Instant Data Scrapper(a free extension which can be used in a browser to easily scrap data from a website) https://chrome.google.com/webstore/detail/instant-data-scraper/ofaokhiedipichpaobibbnahnkdoiiah.**

In [2]:
print("Enter 1 for Bitcoin")
print("Enter 2 for Ethereum")
print("Enter 3 for Bitcoin Cash")
print("Enter 4 for Litecoin")
print("Enter 5 for Binance Coin")
print("Enter 6 for ChainLink")

choice = int(input("Enter Choice: "))

if choice == 1:
    df = pd.read_csv("Bitcoin.csv")
if choice == 2:
    df = pd.read_csv("Ethereum.csv")
if choice == 3:
    df = pd.read_csv("Bitcoin Cash.csv")
if choice == 4:
    df = pd.read_csv("Litecoin.csv")
if choice == 5:
    df = pd.read_csv("Binance Coin.csv")
if choice == 6:
    df = pd.read_csv("ChainLink.csv")

df.tail()

Enter 1 for Bitcoin
Enter 2 for Ethereum
Enter 3 for Bitcoin Cash
Enter 4 for Litecoin
Enter 5 for Binance Coin
Enter 6 for ChainLink
Enter Choice: 6

,cmc-table__cell,cmc-table__cell 2,cmc-table__cell 3,cmc-table__cell 4,cmc-table__cell 5,cmc-table__cell 6,cmc-table__cell 7
1147,"Sep 24, 2017",0.131110,0.190250,0.130275,0.170278,"1,025,740","59,597,300"
1148,"Sep 23, 2017",0.149562,0.157440,0.126297,0.131129,"1,186,670","45,895,150"
1149,"Sep 22, 2017",0.169826,0.181675,0.139869,0.150503,"1,423,220","52,676,050"
1150,"Sep 21, 2017",0.189132,0.207892,0.155292,0.169680,"2,126,270","59,388,000"
1151,"Sep 20, 2017",0.156494,0.189448,0.152489,0.189165,"2,718,640","66,207,750"

**Renaming the columns as given in the website https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130429&end=20201107.**

In [3]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Closing Price', 'Volume', 'Market Cap']
df.head()

,Date,Open,High,Low,Closing Price,Volume,Market Cap
0,"Nov 14, 2020",12.89,12.91,12.39,12.58,"997,198,275","4,936,577,002"
1,"Nov 13, 2020",12.42,12.99,12.34,12.89,"1,306,004,087","5,045,766,668"
2,"Nov 12, 2020",12.81,13.08,12.31,12.42,"1,400,960,180","4,863,810,509"
3,"Nov 11, 2020",13.00,13.39,12.79,12.81,"1,517,819,145","5,014,273,699"
4,"Nov 10, 2020",12.52,13.24,12.35,13.00,"1,724,813,657","5,090,980,020"

**Removing the unwanted columns**

In [4]:
df = df.filter(['Closing Price'])
df.head()

   Closing Price
0          12.58
1          12.89
2          12.42
3          12.81
4          13.00

**Reversing the Column**

In [5]:
df["Closing Price"] = df["Closing Price"].values[::-1]
df.head()

   Closing Price
0       0.189165
1       0.169680
2       0.150503
3       0.131129
4       0.170278

**If Bitcoin, Ethereum, Bitcoin Cash or any other cryptocurrency whose price is more then 999$. The "," needs to be removed as the data scrapped is in the form of string data-type and if "," isn't removed then it's not possible to convert it to float data-type without which no calculations can be made.**

In [6]:
if choice == 1 or choice == 2 or choice == 3: 
    df['Closing Price'] = df['Closing Price'].str.replace(r',', '')
    df['Closing Price'] = pd.to_numeric(df['Closing Price'])
else:
    pass

**Input the number of days for which the price is to be predicted**

In [7]:
prediction_days = int(input())

df['Prediction'] = df[['Closing Price']].shift(-prediction_days)

df.head()

10

   Closing Price  Prediction
0       0.189165    0.451364
1       0.169680    0.436647
2       0.150503    0.356767
3       0.131129    0.345535
4       0.170278    0.397361

**From the last the number of prediction_days is null as it is shifted up by prediction_days.**

In [8]:
df.tail()

      Closing Price  Prediction
1147          13.00         NaN
1148          12.81         NaN
1149          12.42         NaN
1150          12.89         NaN
1151          12.58         NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Closing Price  1152 non-null   float64
 1   Prediction     1142 non-null   float64
dtypes: float64(2)
memory usage: 18.1 KB

In [10]:
df['Closing Price'] = pd.to_numeric(df['Closing Price'])

**Creating independent dataset**

**Converting the dataframe to numpy array and drop the prediction column.**

In [11]:

X = np.array(df.drop(['Prediction'],1))
X = X[:len(X)-prediction_days]
print(X)

[[ 0.189165]
 [ 0.16968 ]
 [ 0.150503]
 ...
 [10.8     ]
 [10.39    ]
 [10.47    ]]

**Creating dependent dataset**

In [12]:
Y = np.array(df["Prediction"])
Y = Y[:len(Y)-prediction_days]
print(Y)

[ 0.451364  0.436647  0.356767 ... 12.42     12.89     12.58    ]

**Split the data into 80% training and 20% testing**

In [13]:
x_train, x_test, y_train, y_test = tts(X, Y, test_size = 0.2)

In [14]:
prediction_array = np.array(df.drop(['Prediction'],1))
prediction_array = prediction_array[-prediction_days:]
print(prediction_array)

[[10.99]
 [12.12]
 [11.76]
 [12.66]
 [12.52]
 [13.  ]
 [12.81]
 [12.42]
 [12.89]
 [12.58]]

**Create and train the support vector machine (SVR - Suppport Vector Machine) using radial basis function(RBF)**

In [15]:
rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.00001)
rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

**Testing the Model**

In [16]:
rbf_test = rbf.score(x_test, y_test)
print("Accuracy", rbf_test)

Accuracy 0.919614747241543

**Predicted Values**

In [17]:
prediction = rbf.predict(x_test)
print(prediction)

print()

print(y_test)

[ 4.50140825  0.49678312  2.44460004  0.32700776  0.49441929  4.37175628
  4.01261421  0.2565029   0.45506984  0.32032384  3.51355202  0.38185995
  2.80439023  0.36894056 18.63824808  0.44241279  0.52579361  0.30672146
  2.79439799  2.53456093  0.53291791  0.25200959  7.71584586  2.53456093
  4.53132503  3.31384601  0.54341245  4.44157142  0.21256081  3.85294613
  0.37600783  0.23177593  4.06250429  0.43410689  0.22655014  2.73444221
 12.34675164 10.69818542  3.0941167   0.57821456  0.57269005  2.71445607
  1.83463497  0.7051379   1.02843349  0.37674611  2.33463588  0.69511067
  0.51952163  3.79306284  2.86434135  2.70446283  4.10241421  0.59736083
  2.01466598  0.26438442  0.28589778  2.75442792  0.51851703 15.99194401
  0.45143581  0.23944525  0.38901829  0.32087483  0.2694878  10.72784018
  0.324897    0.22994651  2.22465863  0.60119464  0.70739309  0.38267436
  1.17423233  2.35463034  2.64450108  0.20029657  0.48858383  0.44552198
  0.25593585  0.34636904  1.87464482  0.28199267  2.51457039  0.37007653
  0.34153952  0.50107906  0.39247524  4.5213529   1.82463224  0.3242809
  0.61498846  0.47883895  3.6233707   0.52588576  2.45459613  0.73364381
  1.66457437  2.2346571   0.35139088  0.28694869  0.53273061  1.91465298
  1.81462941  4.1123914   2.12466801  0.61782972  2.87433281  1.88464702
  0.44108157  0.48552986  0.362309    0.68033953  0.27275579  0.2626302
  0.2629067   2.21466005  0.29360577 12.7310803   2.64450108  0.24938272
  4.1123914   2.21466005 11.20212108  0.44535269  2.04466782  8.767641
  0.51410398  0.34876927  1.65456987  0.47024487  0.47106322  3.65331881
  0.45258171  0.92178914  0.54696603  0.26123763  0.51974699  0.3528865
  0.37793617  0.19043278 12.65226469  1.8546401   0.92169203  0.58964608
  0.23553095  0.45302745  0.39371637  0.4101865   8.11293905  0.36780258
  0.46628136  3.8329855   2.74443512  2.46459212  0.27821177  2.39461796
  2.30464338  0.24276944  0.53688518  4.7706198   0.25414153  0.81450167
  0.35536585  5.73703987 10.05531827  8.64865136  2.67448245  1.16422279
  1.05411125  0.21263395  0.37279225  3.35379088  0.4748975   0.3583611
  1.61455081 13.0659245   0.46822255  2.09466874  2.0246667   0.34463298
  7.11978559  2.66448877  0.49524864  0.54746481  2.60452438  0.4601803
  1.91465298  0.47879588  3.49358349  0.20484421 12.39603893  0.32322803
  1.37440169  0.53743104  3.6233707   1.87464482  0.25682048  7.19928907
  6.12526234  0.45710421  2.75442792  7.43774659 10.78714541  0.50771273
 11.51810212  0.4350655   1.8546401   0.37578444  2.21466005  0.29055524
  0.25957056  0.39942915  2.34463317  0.25999334  0.30192682  2.83436629
  0.457585    0.55200793  7.32846344 12.12983773  2.12466801  2.65449498
  1.79462343  0.46706264  0.52840776  8.35108542  1.93465643  2.61451872
  0.31998624]

[ 4.85      0.65799   2.25      0.274727  0.507613  4.05      4.29
  0.179697  0.432969  0.30539   2.2       0.36731   3.87      0.260662
 15.25      0.273684  0.567669  0.386811  2.34      2.77      0.476025
  0.338506  9.3       2.61      3.6       3.48      0.414927  3.91
  0.218494  3.69      0.340509  0.213909  4.1       0.224644  0.236518
  2.91     10.15      9.62      2.26      0.887731  0.481483  2.22
  3.53      1.13      1.18      0.376913  2.28      0.46771   0.499498
  3.84      4.03      2.82      4.38      0.40914   2.54      0.426878
  0.372796  3.48      0.287584 16.47      0.497974  0.177539  0.481416
  0.202932  0.200695 12.16      0.336085  0.30958   3.62      0.503457
  1.05      0.262975  1.7       2.38      2.72      0.169761  0.436519
  0.540335  0.293934  0.316489  2.19      0.204594  2.57      0.30394
  0.380589  0.391713  0.491349  4.11      1.57      0.334983  0.329343
  0.506979  2.83      0.41129   2.24      0.652742  1.67      2.32
  0.276128  0.257547  0.564701  1.72      1.63      4.62      1.82
  0.49535   3.98      1.8       0.491097  0.46611   0.329202  1.34
  0.279981  0.328679  0.222559  2.77      0.424287  8.76      2.71
  0.318274  2.25      2.4      13.        0.543031  1.86      9.65
  0.503459  0.226759  1.76      0.57812   0.503996  2.73      0.26158
  0.620146  0.445421  0.270225  1.38      0.29972   0.241828  0.17977
 16.24      2.96      1.21      0.486123  0.284746  0.406105  0.362294
  0.444364  7.43      0.32094   0.470638  3.77      2.24      2.18
  0.434907  2.67      3.22      0.223969  0.577119  8.64      0.206735
  0.425248  0.219072  8.28     16.71      7.66      2.09      0.88325
  1.07      0.154972  0.437743  3.64      0.544724  0.303201  1.66
 13.8       0.506697  1.99      2.28      0.482795 10.14      2.74
  0.432997  0.509636  2.85      0.733563  1.74      0.424169  3.68
  0.249942 10.99      0.394007  0.910969  0.342848  3.85      2.77
  0.209849  7.87      8.07      0.227041  2.75     13.85     12.42
  0.427421 12.81      0.49147   1.9       0.275062  2.51      0.319767
  0.211167  0.206531  2.31      0.172059  0.334657  2.36      0.601552
  0.570759  7.47     10.47      2.18      2.79      2.64      0.39962
  0.823082  7.5       2.18      2.36      0.423946]

**Print the prediction for next 'prediction_days' days.**

In [18]:
prediction = rbf.predict(prediction_array)
print(prediction)
print()
print(df.tail(prediction_days))

[10.97490749 12.09039014 11.73524218 12.62270603 12.48474541 12.95761427
 12.77048402 12.38618181 12.84928324 12.54387546]

      Closing Price  Prediction
1142          10.99         NaN
1143          12.12         NaN
1144          11.76         NaN
1145          12.66         NaN
1146          12.52         NaN
1147          13.00         NaN
1148          12.81         NaN
1149          12.42         NaN
1150          12.89         NaN
1151          12.58         NaN